﻿@model VoDucTri_2180605111_WebsiteBanHang.Models.Category
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Edit Product";
}

<style>
    .btn{
        background-color: cyan;
        border-radius:10px;
    }
    h2 {
        text-align: center; /* Căn giữa tiêu đề */
        color: black;
    }
</style>
<h2>Cập nhật danh mục</h2>

<form method="post" action="@Url.Action("Update", "Category", new { id = Model.Id })">
    <div class="form-group">
        <label for="name">Tên danh mục:</label>
        <input type="text" id="name" name="Name" value="@Model.Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</form>
